[Unit]
Description=Daemon to update lxd image server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/var/www
Restart=on-failure
User=unit
StandardOutput=journal+console
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

ExecStart=/home/ubuntu/ss-env/bin/lxd-image-server --verbose --log-file /var/www/logs/lxd-image-server.log dbus_server