[Unit]
Description=Daemon to update lxd image server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
User=lxdadm
StandardOutput=journal+console
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

ExecStart=/usr/local/bin/lxd-image-server/lxd-image-server watch
ExecReload=/bin/sh -c '/usr/local/bin/lxd-image-server reload'
