[Unit]
Description=Daemon to allow upload to simplestream server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
User=lxdadm
StandardOutput=journal+console
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

ExecStart=/root/lxd-image-server/scripts/start.sh
